:root {
  --block-size: 330px;
}

.roadmap h1 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.roadmap .content {
  position: relative;
  height: 320px;
  width: 330px;
  background-color: #1d1e1f;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.roadmap .content::before {
  content: '';
  width: calc(0.08 * var(--block-size));
  height: calc(0.97 * var(--block-size));
  position: absolute;
  top: calc(-0.05 * var(--block-size));
  right: calc(-0.08 * var(--block-size));
  background-color: #63e2ff93;
  z-index: -1;
  transform: skewY(130deg);
  transform-origin: top;
  transition:
    transform 1s,
    left 1s;
}

.roadmap .content::after {
  content: '';
  width: var(--block-size);
  height: calc(0.1 * var(--block-size));
  position: absolute;
  top: calc(-0.1 * var(--block-size));
  right: calc(-0.08 * var(--block-size));
  background-color: #63e2ff93;
  transform: skew(140deg);
  transform-origin: top;
  transition:
    transform 1s,
    left 1s;
}
