@tailwind base;
@tailwind components;
@tailwind utilities;

.frc-start {
  @apply flex flex-row items-center justify-start;
}

.frc-center {
  @apply flex flex-row items-center justify-center;
}

.frc-between {
  @apply flex flex-row items-center justify-between;
}

.frc-end {
  @apply flex flex-row items-center justify-end;
}

.fcc-center {
  @apply flex flex-col items-center justify-center;
}

.fcc-start {
  @apply flex flex-col items-center justify-start;
}

.fcs-start {
  @apply flex flex-col items-start justify-start;
}

.line-wrap {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
}

.one-line-wrap {
  -webkit-line-clamp: 1;
}

.two-line-wrap {
  -webkit-line-clamp: 2;
}

.three-line-wrap {
  -webkit-line-clamp: 3;
}

.bg-logo::before {
  display: block;
  content: '';
  position: absolute;
  background-image: url('assets/images/logo.png');
  filter: blur(40px);
  background-size: cover;
  background-position: center;
  background-color: transparent;
}

html,
body {
  /* font-family: Misans, sans-serif; */
  letter-spacing: 0.02em;
  background-color: #111;
}

#root {
  width: 100%;
  height: 100%;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  background-color: #1a253b;
  border-radius: 6px;
}
::-webkit-scrollbar {
  width: 4px;
  background-color: #1a253b;
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 6px;
  background-color: #0048ff;
}