[build.environment]
  NODE_OPTIONS = "--max_old_space_size=4096"

[[plugins]]
package = "/netlify/plugins/api-proxy"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*"
    [headers.values]
    Strict-Transport-Security = "max-age=63072000; includeSubDomains; preload"
    X-Frame-Options = "DENY"